@import url('//fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('//beta.adalab.es/resources/stylesheets/all.css');
@import url('//fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 50%;
}
.movies__filters {
  display: flex;
  align-items: center;

  
}

.movies__radio {
  display: inline-block;
  margin: 0 0.5rem;
}