// FONTS
$fontNetflixTitle: 'Koulen', cursive;
$fontTitle: 'Reem Kufi', sans-serif;
$fontText: 'Nunito Sans', sans-serif;

// COLORS
$colorWhite: #FFFFFF;
$colorBlack: #000000;

$colorNetflix: #E50914;
$colorBackground: #141414;