.button {
  background-color: $colorBackground;
  border: .25em solid $colorNetflix;
  border-radius: 0.8em;
  box-shadow: 0 0 2em .25em $colorNetflix,
              inset 0 0 1em .25em $colorNetflix;

  margin-top: 20px;
  padding: 0.8em 1.5em;

  color: $colorWhite;
  font-size: 18px;
  font-weight: bold;

  outline: none;
  cursor: pointer;

  position: relative;
  transition: all 0.3s;
}

.button:hover {
  background-color: $colorNetflix;
  box-shadow: 0 0 2em 1em $colorBlack;

  padding: 0.5em 1em;

  color: $colorBlack;
  font-size: 18px;
  font-weight: bold;
 }